<nav class="container">
  <div class="nav">
    <div class="nav__item">
      <h1 class="nav__logo">SuperEcomerce</h1>
      <ul class="nav__list">
        <li class="nav__list--item">
          <a routerLink="/">Home</a>
        </li>
        <li class="nav__list--item">
          <a routerLink="/pages">Pages</a>
        </li>
        <li class="nav__list--item">
          <a routerLink="/products">Products</a>
        </li>
        <li class="nav__list--item">
          <a routerLink="/blogs">Blog</a>
        </li>
        <li class="nav__list--item">
          <a routerLink="/shop">Shop</a>
        </li>
        <li class="nav__list--item">
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div>
      <input type="text" class="nav__search" />
      <button class="nav__search--btn">
        <i class="pi pi-search icon"></i>
      </button>
    </div>
  </div>
</nav>
