.category {
  &__title {
    color: #151875;
    font-family: "Josefin Sans";
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 55px;
    text-align: center;
  }
  &__item {
    &--img {
      z-index: 1;
      position: relative;
      border-radius: 50%;
      transition: all 0.2s linear;
      img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
      &::before {
        content: "";
        width: 300px;
        height: 300px;
        position: absolute;
        top: 5px;
        left: -10px;
        border-radius: 50%;
        background-color: #b59af2;
        z-index: -1;
      }
      &:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }
    }
    &--title {
      font-family: "Josefin Sans";
      font-weight: 400;
      color: #151875;
      font-size: 20px;
    }
  }
}
