<div class="header">
  <div class="container header__container">
    <div class="info">
      <div class="email">
        <i class="pi pi-folder-open"></i>
        <span>mhhasanul@gmail.com</span>
      </div>
      <div class="phone">
        <i class="pi pi-phone"></i>
        <span>(12345)67890</span>
      </div>
    </div>
    <div class="actions">
      <div class="language">
        <span class="selected__item"
          >English <i class="pi pi-chevron-down"></i
        ></span>
        <ul class="list__item">
          <li>English</li>
          <li>Vietnamese</li>
        </ul>
      </div>
      <div class="currency">
        <span class="selected__item"
          >USD <i class="pi pi-chevron-down"></i
        ></span>
        <ul class="list__item">
          <li>USD</li>
          <li>VND</li>
        </ul>
      </div>
      <div class="login">
        <a href="/login">
          <span>Login</span>
          <i class="pi pi-book"></i>
        </a>
      </div>
      <div class="wishlish">
        <a href="/wishlist">
          <span>Wishlish</span>
          <i class="pi pi-heart"></i>
        </a>
      </div>

      <div class="shopping__cart">
        <a href="/cart">
          <i class="pi pi-shopping-cart"></i>
        </a>
      </div>
    </div>
  </div>
</div>
