<section class="trending container my-8">
  <h2 class="text-center trending__title">Trending Products</h2>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let product of trendProductsList">
      <mat-card class="trending__card">
        <img
          mat-card-image
          src="{{ product.image }}"
          alt="{{ product.title }}"
        />
        <mat-card-content>
          <h3>{{ product.title }}</h3>
          <p class="trending__card--desc">
            {{ product.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
